In [16]:
import MetaTrader5 as mt5
import pandas as pd
import numpy as np
import warnings
from datetime import datetime
import ta
warnings.filterwarnings("ignore")

In [2]:
class MT5:
    def get_rates(symbol, n, timeframe=mt5.TIMEFRAME_D1):
        mt5.initialize()

        utc_from = datetime.now()

        rates = mt5.copy_rates_from(symbol, timeframe, utc_from, n)

        rates_frame = pd.DataFrame(rates)

        rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')

        rates_frame['time'] = pd.to_datetime(rates_frame['time'], format='%Y-%m-%d')

        rates_frame = rates_frame.set_index('time')
        
        return rates_frame

In [3]:
def random():
    # returns true or false for the buy or sell.
    values = [True, False]
    buy = np.random.choice(values)
    sell = not buy

    return buy, sell

In [4]:
random()

(True, False)

In [11]:
def SMA_strategy(symbol):
    # Get candles
    df = MT5.get_rates(symbol, 70)

    # Create Resistance using a rolling max.
    df["SMA fast"] = df["close"].rolling(30).mean()

    # Create Support using a rolling min.
    df["SMA slow"] = df["close"].rolling(60).mean()

    # Signals
    condition_1_buy = df["SMA fast"].iloc[-1] > df["SMA slow"].iloc[-1]

    condition_1_sell = df["SMA fast"].iloc[-1] < df["SMA slow"].iloc[-1]

    buy = condition_1_buy
    sell = condition_1_sell

    return buy, sell

In [6]:
# df = MT5.get_rates("EURUSD.a", 70)

In [27]:
SMA_strategy("EURUSD.a")

(False, True)

In [28]:
# df = MT5.get_rates("EURUSD.a", 30)
# df["SMA fast"] = df["close"].rolling(5).sum()
# df

,open,high,low,close,tick_volume,spread,real_volume,SMA fast
time,,,,,,,,
2023-02-14,1.07200,1.08042,1.07068,1.07356,115185,0,0,NaN
2023-02-15,1.07365,1.07446,1.06605,1.06865,85060,0,0,NaN
2023-02-16,1.06865,1.07224,1.06544,1.06727,101260,0,0,NaN
2023-02-17,1.06715,1.06985,1.06127,1.06935,82359,0,0,NaN
2023-02-20,1.06855,1.07047,1.06704,1.06846,47209,0,0,5.34729
2023-02-21,1.06843,1.06982,1.06374,1.06461,87220,0,0,5.33834
2023-02-22,1.06438,1.06641,1.05992,1.06048,95249,0,0,5.33017
2023-02-23,1.06042,1.06278,1.05771,1.05941,77255,0,0,5.32231
2023-02-24,1.05919,1.06144,1.05362,1.05446,93786,0,0,5.30742
2023-02-27,1.05438,1.06200,1.05330,1.06088,75226,0,0,5.29984
2023-02-28,1.06026,1.06454,1.05741,1.05756,76312,0,0,5.29279
2023-03-01,1.05731,1.06916,1.05653,1.06687,98041,0,0,5.29918
2023-03-02,1.06663,1.06728,1.05765,1.05970,88392,0,0,5.29947
2023-03-03,1.05956,1.06387,1.05883,1.06330,77455,0,0,5.30831
2023-03-06,1.06239,1.06944,1.06222,1.06826,72106,0,0,5.31569
2023-03-07,1.06727,1.06944,1.05461,1.05490,96313,0,0,5.31303
2023-03-08,1.05473,1.05740,1.05242,1.05438,72388,0,0,5.30054
2023-03-09,1.05435,1.05912,1.05368,1.05822,69063,0,0,5.29906
2023-03-10,1.05764,1.07006,1.05740,1.06391,127202,0,0,5.29967
2023-03-13,1.06775,1.07486,1.06504,1.07314,174903,0,0,5.30455
2023-03-14,1.07276,1.07496,1.06789,1.07327,134627,0,0,5.32292
2023-03-15,1.07314,1.07599,1.05160,1.05757,150888,0,0,5.32611
2023-03-16,1.05741,1.06355,1.05509,1.06133,142158,0,0,5.32922
2023-03-17,1.06047,1.06853,1.06047,1.06648,102972,0,0,5.33179
2023-03-20,1.06857,1.07310,1.06313,1.07235,109881,0,0,5.33100
2023-03-21,1.07169,1.07888,1.07039,1.07695,79482,0,0,5.33468
2023-03-22,1.07651,1.09125,1.07590,1.08549,93396,0,0,5.36260
2023-03-23,1.08567,1.09297,1.08242,1.08323,99155,0,0,5.38450
2023-03-24,1.08293,1.08387,1.07132,1.07602,112487,0,0,5.39404
2023-03-27,1.07740,1.07988,1.07449,1.07954,72169,0,0,5.40123

In [13]:
def SMA_rsi_strategy(symbol):
    # Get candles
    df = MT5.get_rates(symbol, 70)

    # Create Resistance using a rolling max.
    df["SMA fast"] = df["close"].rolling(30).mean()

    # Create Support using a rolling min.
    df["SMA slow"] = df["close"].rolling(60).mean()

    # Create RSI
    df["rsi"] = ta.momentum.RSIIndicator(df["close"], window=10).rsi()

    df["rsi yesterday"] = df["rsi"].shift()

    # Signals
    condition_1_buy = df["SMA fast"].iloc[-1] > df["SMA slow"].iloc[-1]
    condition_2_buy = df["rsi"].iloc[-1] < df["rsi yesterday"].iloc[-1]

    condition_1_sell = df["SMA fast"].iloc[-1] < df["SMA slow"].iloc[-1]
    condition_2_sell = df["rsi"].iloc[-1] > df["rsi yesterday"].iloc[-1]

    buy = condition_1_buy and condition_2_buy
    sell = condition_1_sell and condition_2_sell

    return buy, sell

In [14]:
SMA_rsi_strategy("EURUSD.a")

(False, True)

In [21]:
df2 = MT5.get_rates("EURUSD.a", 70)
df2["rsi"] = ta.momentum.RSIIndicator(df2["close"], window=12).rsi()
df2[50:]

,open,high,low,close,tick_volume,spread,real_volume,rsi
time,,,,,,,,
2023-03-01,1.05731,1.06916,1.05653,1.06687,98041,0,0,48.407977
2023-03-02,1.06663,1.06728,1.05765,1.05970,88392,0,0,41.812749
2023-03-03,1.05956,1.06387,1.05883,1.06330,77455,0,0,45.853440
2023-03-06,1.06239,1.06944,1.06222,1.06826,72106,0,0,50.970847
2023-03-07,1.06727,1.06944,1.05461,1.05490,96313,0,0,39.892326
2023-03-08,1.05473,1.05740,1.05242,1.05438,72388,0,0,39.527534
2023-03-09,1.05435,1.05912,1.05368,1.05822,69063,0,0,43.676695
2023-03-10,1.05764,1.07006,1.05740,1.06391,127202,0,0,49.299867
2023-03-13,1.06775,1.07486,1.06504,1.07314,174903,0,0,56.912316
2023-03-14,1.07276,1.07496,1.06789,1.07327,134627,0,0,57.011490
2023-03-15,1.07314,1.07599,1.05160,1.05757,150888,0,0,43.745891
2023-03-16,1.05741,1.06355,1.05509,1.06133,142158,0,0,46.969672
2023-03-17,1.06047,1.06853,1.06047,1.06648,102972,0,0,51.152425
2023-03-20,1.06857,1.07310,1.06313,1.07235,109881,0,0,55.515257
2023-03-21,1.07169,1.07888,1.07039,1.07695,79482,0,0,58.670912
2023-03-22,1.07651,1.09125,1.07590,1.08549,93396,0,0,63.862761
2023-03-23,1.08567,1.09297,1.08242,1.08323,99155,0,0,61.627740
2023-03-24,1.08293,1.08387,1.07132,1.07602,112487,0,0,54.936450
2023-03-27,1.07740,1.08002,1.07449,1.07984,74076,0,0,57.597435
2023-03-28,1.07951,1.08469,1.07947,1.08403,63856,0,0,60.395758